<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue_TodoList</title>
    <style>
      .completed {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>ToDoList</h1>
      <select v-model="status">
        <option value="showAll">모두 보기</option>
        <option value="showCompleted">완료된 것만 보기</option>
        <option value="showDoing">미완료된 것만 보기</option>
      </select>
      <hr />
      <input v-on:keypress.enter="createToDo" v-model="newInput" type="text" />
      <button v-on:click="createToDo">추가</button>
      <ul>
        <li
          :key="todo.id"
          v-bind:class="{completed: todo.isCompleted}"
          v-for="todo in todosByStatus"
        >
          <input v-model="todo.isCompleted" type="checkbox" />
          {{todo.content}}
        </li>
        <!-- <li>Vue js 복습</li>
        <li>Javascript 복습</li> -->
      </ul>
      <button v-on:click="deleteToDo">
        완료된 할 일 지우기
      </button>

      <h1>Computed vs Method 비교</h1>
      <div v-if="visible">
        <p>computed : {{computedDate}}</p>
        <p>method : {{methodDate()}}</p>
      </div>
      <button v-on:click="visible = !visible">Toggle</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const todoStorage = {
        // 저장 (Create)
        save(todos) {
          localStorage.setItem("todos", JSON.stringify(todos));
        },
        // 조회 (Read)
        fetch() {
          return JSON.parse(localStorage.getItem("todos"));
        },
      };

      // ==> todoStorage.save(todos)
      const app = new Vue({
        el: "#app",
        data: {
          visible: true,
          name: "maria",
          status: "showAll", // showCompleted, showDoing
          newInput: "",
          todos: [],
        },
        computed: {
          todosByStatus() {
            // status = 'showCompleted'
            if (this.status === "showCompleted") {
              return this.todos.filter((todo) => todo.isCompleted);
            }
            if (this.status === "showDoing") {
              return this.todos.filter((todo) => !todo.isCompleted);
            }
            // status = 'showAll'
            return this.todos;
          },
        },
        methods: {
          createToDo() {
            // newInput 값을 todos 에 추가
            // 입력값이 있을 때만,
            if (this.newInput) {
              this.todos.push({
                id: String(new Date()),
                content: this.newInput,
                isCompleted: false,
              });
              //window.localStorage.setItem("todos", {});
              this.newInput = "";
            } else {
              alert("값을 먼저 입력하세요");
            }
          },
          computedDate() {
            return new Date();
          },
          deleteToDo() {
            // foreach, map, reduce, some, ...
            // 배열을 한번씩 순회화면서, 작업 수행
            this.todos = this.todos.filter((todo) => todo.isCompleted == false);
          },
          methodDate() {
            return new Date();
          },
        },
        watch: {
          todos: {
            handler: function (todos) {
              // todo의 값이 변경될 때 함수 호출
              todoStorage.save(todos);
            },
          },
        },
        created: function () {
          this.todos = todoStorage.fetch();
        },
      });
    </script>
  </body>
</html>
